<!--nav-bar-->

<app-nav-bar></app-nav-bar>

<div class="container mt-4">
  <h1> Interpolação</h1>
  <p>O titulo esta em 
    "app.component.ts"
    <!--
    "export class AppComponent {
    title = 'course-manager';
  }"-->
  </p>
  {{title}}
  <br>
  <h1>Usando Input</h1>
  
  <p>para que funcione este input fizemos a importacao no app.component.ts</p>
  
  <p>Quando o [ngModel] esta apenas dentre colchetes se ouver alguma alteração ele nao ira alterar as referencias </p>
  {{name}}
  <br>
  <input [ngModel]="name" name="name">
  
  <br>
  <br>
  
  <p>Quando colocamos o [(ngModel)] com parenteses, ele altera a referencias, conforme se digita a referencia é alterada  </p>
  
  {{name2}}
  
  <br>
  <input [(ngModel)]="name2" name2="name2">
  <br>
  
  <h1> Criando componentes e construindo o projeto</h1>
  
    <!--criando uma swith na pagina-->
    <router-outlet></router-outlet>
  
</div>
